body{
    background-color: #76a2bb;
}
.jumbotron{
    margin-top: 5%;
    background: #d5dcfc;
}
.display-4{
    font-size: 160%;
    font-family: 'Kanit', sans-serif;
}
#start-btn{
    margin: auto;
    display: block;
    background: #d5dcfc;
    color: #579dc5;
    border: solid;
    border-width: 2px;
    border-radius: 8px;

}
.boxes{
    margin: auto;
    color: #d5dcfc;
    font-weight: bold;
    border-color: #d5dcfc;
    border: solid;
    border-width: 300%;
    border-radius: 8px;
    padding: 5%;
    margin-bottom: 5%;
    width: 150px;
}
#scores-div{
    margin-top: 5%;
}
#emogies-div{
    margin-top: 10%;
}
.emogies{
    margin-bottom: 5%;
    padding: 5%;
    /* background-color: white; */
    border: solid;
    border-radius: 8px;
    border-color: #d5dcfc;
}
#user-score-div{
    margin: auto;
    margin-top: 10%;
    border: solid;
    border-width: 500%;
    border-radius: 8px;
    border-color: #d5dcfc;
    width: 200px;
    text-align: center;
    padding: 3%;
    background-color: #76a2bb;
    font-weight: bold;
    color: #d5dcfc;
}
.span-fonts{
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #scores-div{
        margin-top: 1%;
    }
    #emogies-div{
        margin-top: 2%;
    }
    .emogies{
        width: 200px;
    }
    #user-score-div{
        margin-top: -23%;
    }
    .display-4{
        font-size: 300%;
    }
}
